<div class="sidebar responsive ace-save-state" id="sidebar" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>

    <div id="sidebar-shortcuts" class="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            <a class="btn btn-success" href="http://dev.raddyx.in/smarthub/admin">               
                <i class="ace-icon fa fa-signal"></i>                
            </a>

            <a class="btn btn-info" href="http://dev.raddyx.in/smarthub/admin/profile-setting">               
                <i class="ace-icon fa fa-pencil"></i>               
            </a>

            <a class="btn btn-warning" href="http://dev.raddyx.in/smarthub/admin/transactions">               
               <i class="ace-icon fa fa-money"></i> <!--<i class="ace-icon fa fa-users"></i>-->               
            </a>

            <a class="btn btn-danger" href="http://dev.raddyx.in/smarthub/admin/view-customers/1">               
                <i class="ace-icon fa fa-user"></i><!--<i class="ace-icon fa fa-cogs"></i>-->          
            </a>

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">

        <li>
            <a href="http://dev.raddyx.in/smarthub/admin">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>    


        <li>
            <a class="dropdown-toggle" href="javascript:;">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text">  Account Setup </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">  
                <li class="">
                    <a href="http://dev.raddyx.in/smarthub/admin/profile-setting">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Profile Setting
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="http://dev.raddyx.in/smarthub/admin/change-password">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Change Password 
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="javascript:;">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Branch Admins </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="http://dev.raddyx.in/smarthub/admin/add-branch-admin">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Add Branch Admin
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="http://dev.raddyx.in/smarthub/admin/branch-admin-listing">
                        <i class="menu-icon fa fa-caret-right"></i>
                        View All Branch Admin
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <!--
        <li  >
            <a href="javascript:;" class="dropdown-toggle">
                <i class="menu-icon fa fa-shopping-cart"></i>
                <span class="menu-text"> Merchants </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="http://dev.raddyx.in/smarthub/admin/view-merchants/1">
                        <i class="menu-icon fa fa-caret-right"></i>
                        View Merchants
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        -->

        <li>
            <a class="dropdown-toggleXX" href="http://dev.raddyx.in/smarthub/admin/view-merchants/1">
                <i class="menu-icon fa fa-shopping-cart"></i>
                <span class="menu-text"> Merchants </span>
                <b class="arrow fa"></b>
            </a>             
        </li>


        <!--        
        <li  >
               <a href="javascript:;" class="dropdown-toggle">
                   <i class="menu-icon fa fa-user"></i>
                   <span class="menu-text"> Customers </span>
                   <b class="arrow fa fa-angle-down"></b>
               </a>
               <b class="arrow"></b>
               <ul class="submenu">
                   <li class="">
                       <a href="http://dev.raddyx.in/smarthub/admin/view-customers/1">
                           <i class="menu-icon fa fa-caret-right"></i>
                           View Customers
                       </a>
                       <b class="arrow"></b>
                   </li>
               </ul>
           </li>
        -->

        <li>
            <a class="dropdown-toggleXX" href="http://dev.raddyx.in/smarthub/admin/view-customers/1">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> Customers </span>
                <b class="arrow fa"></b>
            </a>             
        </li>



        <li>
            <a class="dropdown-toggleXX" href="http://dev.raddyx.in/smarthub/admin/transactions">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text"> Payments </span>
                <b class="arrow fa"></b>
            </a>             
        </li>

        <li>
            <a href="http://dev.raddyx.in/smarthub/logout">
                <i class="menu-icon fa fa-power-off"></i>
                <span class="menu-text"> Logout </span>
            </a>
        </li>

    </ul>
    <!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
        <i data-icon2="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-left ace-save-state" id="sidebar-toggle-icon"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
</div>