<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #ccc;">
    <div class="main-content-inner">        

        <div class="page-content">
            <div class="row">

                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px;">
                        Upcoming Payments                 
                    </h1>                    
                </div>

                <div class="col-xs-12">

                    <div class="content-main-area" style="padding: 20px;">  

                        <div>
                            <table class="table table-striped table-bordered table-hover" id="upcoming-payments">
                                <thead>
                                    <tr>
                                        <!--<th> Merchant </th>-->
                                        <th style="text-align: center;"> Due Amount </th>
                                        <th style="text-align: center;"> Due Date </th>
                                        <th style="text-align: center;"> Transaction Status </th>                                    
                                        <th style="text-align: center;"> Payment Status </th>                          
                                        <th style="text-align: center;"> Action </th>
                                    </tr>
                                </thead>
                                <tbody ng-init="viewUpcomingPayments()">
                                    <tr ng-repeat="payment in payments">
                                        <!--<td style="text-align: left;"> {{payment.merchant.name}}</td>-->
                                        <td style="text-align: center;"> Rs. {{payment.fee}} </td>
                                        <td style="text-align: center;"> {{payment.uploaded_payment_file.payment_cycle_date| date}} </td>
                                        <td style="text-align: center;"> {{(payment.unmappedstatus == ''|| payment.unmappedstatus==null) ? '--' : payment.unmappedstatus}} </td>                                                                        
                                        <td style="text-align: center;"> <span class="label label-sm label-warning arrowed arrowed-righ" style="padding-top: 4px;">Unpaid</span></td> 
                                        <td style="text-align: center;">
                                            <div class="hidden-smXX hidden-xsXX action-buttons">
                                                <a class="btn btn-xs btn-success" href="customer/#/pay-now/{{payment.uniq_id}}" >
                                                    <!--<i class="ace-icon fa fa-check bigger-120"></i>--> Pay Now                                                                                           
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<div class="row"><div class="col-xs-6"><div aria-live="polite" role="status" id="dynamic-table_info" class="dataTables_info">Showing 1 to 10 of 23 entries</div></div><div class="col-xs-6"><div id="dynamic-table_paginate" class="dataTables_paginate paging_simple_numbers"><ul class="pagination"><li id="dynamic-table_previous" tabindex="0" aria-controls="dynamic-table" class="paginate_button previous disabled"><a href="javascript:;">Previous</a></li><li tabindex="0" aria-controls="dynamic-table" class="paginate_button active"><a href="javascript:;">1</a></li><li tabindex="0" aria-controls="dynamic-table" class="paginate_button "><a href="javascript:;">2</a></li><li tabindex="0" aria-controls="dynamic-table" class="paginate_button "><a href="javascript:;">3</a></li><li id="dynamic-table_next" tabindex="0" aria-controls="dynamic-table" class="paginate_button next"><a href="javascript:;">Next</a></li></ul></div></div></div>-->                    
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.page-content -->    
        </div>
    </div>
</div>
<!-- /.main-content -->

