<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #BBBBBB;">
    <div class="main-content-inner">   
        <div class="page-content" ng-init="getMerchantData()">
            <!-- #section:settings.box -->
            <!-- /section:settings.box -->
            <div class="row">
                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px;">
                        Merchant Dashboard                     
                    </h1>                    
                </div>
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="content-main-area" style="padding: 20px;">  

                        <div class="row">
                            <h1 style="text-align: center; margin-top: 50px;">Welcome <span style="color: green;" >SmartHub</span> Merchant Panel</h1>
                            <div style="width: 200px; position: relative; margin: auto;">
                                <img ng-if="merchant.merchant_profile.logo"  style="width: 180px;" ng-src="files/merchant_logo/{{merchant.merchant_profile.logo}}">
                                <!--<img ng-if="!merchant.merchant_profile.logo"  style="width: 180px;" src="img/logo/web-info-mart-logo.png">-->                                 
                            </div>
                            <!-- #section:elements.form -->                          
                            <!--<br class="clear"/>-->    
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-content -->

