<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #CCC;">
    <div class="main-content-inner">   
        <div class="page-content">
            <!-- #section:settings.box -->
            <!-- /section:settings.box -->
            <div class="row">

                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px;">
                        Edit Basic Web Front                         
                    </h1>                    
                </div>               

                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="content-main-area" style="padding: 20px;">  

                        <div id="flash-msg" tabindex="99" class="col-xs-12 " style="display: block;"></div>

                        <div class="tabbable col-xs-12 front-creation-tab-design">
                            <!--Tab Header-->
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a data-toggle="tab" href="#website-content">
                                        <i class="green ace-icon fa fa-home bigger-120"></i>
                                        <span class="tab-data-hid">Website Content</span>
                                        <span class="badge badge-success">1</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#payee-information">                                   
                                        <i class="ace-icon fa fa-user bigger-120"></i>
                                        <span class="tab-data-hid">Customer Fields</span>
                                        <span class="badge badge-grey">2</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#payment-information">                                  
                                        <i class="ace-icon fa fa-money bigger-120"></i>
                                        <span class="tab-data-hid">Payment Fields</span>
                                        <span class="badge badge-grey">3</span>
                                    </a>
                                </li>
                                <li>                                    
                                    <a data-toggle="tab" href="#download-excel">  
                                        <i class="ace-icon fa fa-download bigger-120"></i>
                                        <span class="tab-data-hid">Download Sample Excel</span>
                                        <span class="badge badge-grey">4</span>
                                    </a>
                                </li>
                            </ul>
                            <!--Tab Header End-->
                            <div class="tab-content">

                                <!--Web Front Information-->
                                <div id="website-content" class="tab-pane  fade in active">
                                    <form name="editWebFrontForm1" class="form-horizontal" role="form" novalidate ng-submit="editWebfront(picFile)">

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">&nbsp;</label>
                                            <div class="col-sm-9">
                                                <p style="color: red; font-weight: bold;">All (*) fields are mandatory</p> 
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Webfront Name/Url <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="url" id="url" required=""  placeholder="Name" ng-model="webfront.url" ng-minlength="3" class="col-xs-10 col-sm-5" ng-pattern="/^[a-zA-Z0-9-]*$/" autocomplete="off" disabled/>
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.url.$touched" style="color:red;">                                                   
                                                    <p ng-show="editWebFrontForm1.url.$error.required"><font color="red">&nbsp;&nbsp;Name is required!</font></p>
                                                    <p ng-show="editWebFrontForm1.url.$error.minlength"><font color="red">&nbsp;&nbsp;Name is too short!</font></p>
                                                    <p ng-show="editWebFrontForm1.url.$error.pattern">&nbsp;&nbsp;Name should not contain whitespace or any special character!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="email" name="email" id="email" required="" placeholder="Email" ng-model="webfront.email" class="col-xs-10 col-sm-5" />
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.email.$touched" style="color:red;"> 
                                                    <p ng-show="editWebFrontForm1.email.$error.required"><font color="red">&nbsp;&nbsp;Email is required!</font></p>
                                                    <p ng-show="editWebFrontForm1.email.$error.email"><font color="red">&nbsp;&nbsp;Please enter valid Email!</font></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">  Phone No. <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="phone" id="phone" required="" placeholder="Phone No." ng-model="webfront.phone" ng-minlength="10" maxlength="15" ng-pattern="/^[0-9]+([,.-][0-9]+)?$/" class="col-xs-10 col-sm-5 phone" />
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.phone.$touched" style="color:red;"> 
                                                    <p ng-show="editWebFrontForm1.phone.$error.required"><font color="red">&nbsp;&nbsp;Phone number is required!</font></p>
                                                    <p ng-show="editWebFrontForm1.phone.$error.minlength"><font color="red">&nbsp;&nbsp;Number is too short!</font></p>
                                                    <p ng-show="editWebFrontForm1.phone.$error.pattern">&nbsp;&nbsp;Invalid phone number!</p>
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Address <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">                                           
                                                <textarea name="address" class="col-xs-10 col-sm-5" required="" ng-model="webfront.address" style="padding-left: 5px;" placeholder="Address"></textarea>
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.address.$touched" style="color:red;"> 
                                                    <p ng-show="editWebFrontForm1.address.$error.required"><font color="red">&nbsp;&nbsp;Address is required!</font></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Title <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="title" id="name" required=""  placeholder="Title" ng-model="webfront.title" ng-minlength="3" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.title.$touched" style="color:red;"> 
                                                    <p ng-show="editWebFrontForm1.title.$error.required"><font color="red">&nbsp;&nbsp;Title is required!</font></p>
                                                    <p ng-show="editWebFrontForm1.title.$error.minlength"><font color="red">&nbsp;&nbsp;Title is too short!</font></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Description <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">                                           
                                                <textarea name="description" class="col-xs-10 col-sm-5" required="" ng-model="webfront.description" style="padding-left: 5px;" placeholder="Description"></textarea>
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.description.$touched" style="color:red;"> 
                                                    <p ng-show="editWebFrontForm1.description.$error.required"><font color="red">&nbsp;&nbsp;Description is required!</font></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" id="logo">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> &nbsp; </label>
                                            <div class="col-sm-9">      
                                                <img class="img-logo" ng-src="files/webfront_logo/{{webfront.logo}}" alt="{{webfront.logo}}" />
                                            </div>
                                        </div>

                                        <!--
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Logo : </label>
                                            <div class="col-sm-9">                            
                                                <input type="file" id="logo" ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" class="col-xs-10 col-sm-5" style="padding: 5px 0;" >                                
                                            </div>
                                        </div>                                        
                                        -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Logo <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-4"> 
                                                <div class="image-editor">
                                                    <input type="file" class="cropit-image-input">
                                                    <div class="cropit-preview"></div>
                                                    <div class="image-size-label">
                                                        Resize image
                                                    </div>
                                                    <input type="range" class="cropit-image-zoom-input">
                                                    <input type="hidden" ng-model="webfront.file" name="image-data" class="hidden-image-data" />
                                                    <!--<button class="rotate-ccw">Rotate counterclockwise</button>-->
                                                    <!--<button class="rotate-cw">Rotate clockwise</button>-->
                                                    <!--<button class="export">Export</button>-->
                                                    <p><font color="red">Note : Please select image having size greater than 300x200px.</font></p>
                                                </div>
                                            </div>
                                        </div>

                                        <!--
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Payment Cycle Date <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="payment_cycle_date" id="payment-cycle-date" required="" ng-model="webfront.payment_cycle_date" format="yyyy-mm-dd" placeholder="Payment Cycle Date" ng-minlength="3" class="col-xs-10 col-sm-5  datepicker" autocomplete="off"/>
                                                <p ng-show="editWebFrontForm1.payment_cycle_date.$error.required"><font color="red">&nbsp;&nbsp;Payment Cycle Date is required!</font></p>                              
                                            </div>
                                        </div>
                                        -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">  Late Fee Amount : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="late_fee_amount" id="phone" required="" placeholder="Late Fee Amount" ng-model="webfront.late_fee_amount" class="col-xs-10 col-sm-5 decimal" />
                                                <div ng-show="editWebFrontForm1.$submitted || editWebFrontForm1.late_fee_amount.$touched" style="color:red;">                                                    
                                                    <!--<p ng-show="editWebFrontForm1.late_fee_amount.$error.required"><font color="red">&nbsp;&nbsp;Late Fee Amount is required!</font></p>-->                                               
                                                    <p ng-show="editWebFrontForm1.late_fee_amount.$error.pattern">&nbsp;&nbsp;Please enter decimal value only!</p>
                                                </div>                                              
                                            </div>
                                        </div>  

                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-9"> 
                                                <a class="btn" href="merchant/#/webfront-listing"> <i class="ace-icon fa fa-undo bigger-110"></i> Back </a>
                                                <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i> Next </button>  &nbsp; &nbsp; &nbsp;
                                            </div>
                                        </div>

                                    </form>
                                </div> 
                                <!--Web Front Information End-->

                                <!--Payee Information-->
                                <div id="payee-information" class="tab-pane fade">

                                    <form name="editWebFrontForm2" class="form-horizontal" novalidate role="form" ng-submit="editWebFrontForm2.$valid && editCustomerFields()" >
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">&nbsp;</label>
                                            <div class="col-sm-9">
                                                <p style="color: red; font-weight: bold;">All (*) fields are mandatory</p> 
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Name <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="custom_name" id="custom_name" required=""  placeholder="Name" ng-model="webfront.customer_name_alias" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                                <div ng-show="editWebFrontForm2.$submitted || editWebFrontForm2.custom_name.$touched" style="color:red;">  
                                                    <p ng-show="editWebFrontForm2.custom_name.$error.required"><font color="red">&nbsp;&nbsp;Name is required!</font></p>
                                                    <!--<p ng-show="webFrontForm.custom_name.$error.minlength"><font color="red">&nbsp;&nbsp;Name is too short!</font></p>-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="custom_email" id="custom_email" required="" placeholder="Email" ng-model="webfront.customer_email_alias" class="col-xs-10 col-sm-5" />
                                                <div ng-show="editWebFrontForm2.$submitted || editWebFrontForm2.custom_email.$touched" style="color:red;">  
                                                    <p ng-show="editWebFrontForm2.custom_email.$error.required"><font color="red">&nbsp;&nbsp;Email is required!</font></p>                                                
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">  Phone No. <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="custom_phone" id="custom_phone" required="" placeholder="Phone No." ng-model="webfront.customer_phone_alias" class="col-xs-10 col-sm-5" />
                                                <div ng-show="editWebFrontForm2.$submitted || editWebFrontForm2.custom_phone.$touched" style="color:red;">  
                                                    <p ng-show="editWebFrontForm2.custom_phone.$error.required"><font color="red">&nbsp;&nbsp;Phone number is required!</font></p>
                                                    <!--<p ng-show="webFrontForm.custom_phone.$error.minlength"><font color="red">&nbsp;&nbsp;Number is too short!</font></p>-->
                                                </div>
                                            </div>
                                        </div>   

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">  Note. <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="custom_note" id="custom_note" required="" placeholder="Note." ng-model="webfront.customer_note_alias" class="col-xs-10 col-sm-5" />
                                                <div ng-show="editWebFrontForm2.$submitted || editWebFrontForm2.custom_note.$touched" style="color:red;">  
                                                    <p ng-show="editWebFrontForm2.custom_note.$error.required"><font color="red">&nbsp;&nbsp;Note is required!</font></p>                                                
                                                </div>
                                            </div>
                                        </div>   

                                        <div class="form-group"> 
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> CA1 : </label>
                                            <div class="col-sm-9">  
                                                <input type="text" name="ca1" id="ca1"  placeholder="Default Label" ng-model="customer_fields.ca1" class="col-xs-10 col-sm-5 post1" autocomplete="off"/>
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" ng-checked="customer_fields.ca1" ng-click="!$(this).is(':checked') ? customer_fields.ca1 = '' : ''" id="ca1_chk" class="ace" type="checkbox" ng-model="customer_fields.ca_chk[1]" />
                                                    <span class="lbl"></span>
                                                </label>                                           
                                                <!--<p ng-show="editWebFrontForm2.ca1.$error.required"><font color="red">&nbsp;&nbsp;CA1 is required!</font></p>-->
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">CA2 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="CA2" id="ca2"  placeholder="Default Label" ng-model="customer_fields.ca2" class="col-xs-10 col-sm-5 post1" autocomplete="off"/>
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" ng-checked="customer_fields.ca2" ng-click="!$(this).is(':checked') ? customer_fields.ca2 = '' : ''" id="ca2_chk" class="ace" type="checkbox" ng-model="customer_fields.ca_chk[2]" />
                                                    <span class="lbl"></span>
                                                </label>                                         
                                                <!--<p ng-show="editWebFrontForm2.ca2.$error.required"><font color="red">&nbsp;&nbsp;House no is required!</font></p>-->                                        
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">CA3 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="member_id" id="ca3" placeholder="Default Label" ng-model="customer_fields.ca3" class="col-xs-10 col-sm-5 post1" autocomplete="off"/>
                                                <!--<p ng-show="editWebFrontForm2.member_id.$error.required"><font color="red">&nbsp;&nbsp;Member Id is required!</font></p>-->                                        
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" ng-checked="customer_fields.ca3" ng-click="!$(this).is(':checked') ? customer_fields.ca3 = '' : ''" id="ca3_chk" class="ace" type="checkbox" ng-model="customer_fields.ca_chk[3]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">CA4 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="parking_number" id="ca4"  placeholder="Default Label" ng-model="customer_fields.ca4" class="col-xs-10 col-sm-5 post1" autocomplete="off"/>
                                                <!--<p ng-show="editWebFrontForm2.parking_number.$error.required"><font color="red">&nbsp;&nbsp;Parking Number is required!</font></p>-->                                        
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" ng-checked="customer_fields.ca4" ng-click="!$(this).is(':checked') ? customer_fields.ca4 = '' : ''" id="ca4_chk" class="ace" type="checkbox" ng-model="customer_fields.ca_chk[4]" >
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">CA5 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="default_label_5" id="ca5" placeholder="Default Label" ng-model="customer_fields.ca5" class="col-xs-10 col-sm-5 post1" autocomplete="off"/>
                                                <!--<p ng-show="editWebFrontForm2.default_label_5.$error.required"><font color="red">&nbsp;&nbsp;Default Label is required!</font></p>-->
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" ng-checked="customer_fields.ca5" ng-click="!$(this).is(':checked') ? customer_fields.ca5 = '' : ''" id="ca5_chk" class="ace" type="checkbox" ng-model="customer_fields.ca_chk[5]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">CA6 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="default_label_6" id="ca6"  placeholder="Default Label" ng-model="customer_fields.ca6" class="col-xs-10 col-sm-5 post1" autocomplete="off"/>
                                                <!--<p ng-show="editWebFrontForm2.default_label_6.$error.required"><font color="red">&nbsp;&nbsp;Default Label is required!</font></p>-->
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" ng-checked="customer_fields.ca6" ng-click="!$(this).is(':checked') ? customer_fields.ca6 = '' : ''" id="ca6_chk" class="ace" type="checkbox" ng-model="customer_fields.ca_chk[6]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-9">    
                                                <a onclick="$('a[href=\'#website-content\']').click();" class="btn" href="javascript:;"> <i class="ace-icon fa fa-undo bigger-110"></i> Previous </a>
                                                <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i> Next </button>  &nbsp; &nbsp; &nbsp;
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!--Payee Information End-->

                                <!--Payment Information-->
                                <div id="payment-information" class="tab-pane fade">
                                    <form ng-init="getProfileData1()" name="editWebFrontForm3" class="form-horizontal" novalidate role="form" ng-submit="editWebFrontForm3.$valid && updateProfile1()" >
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">&nbsp;</label>
                                            <div class="col-sm-9">
                                                <p style="color: red; font-weight: bold;">All (*) fields are mandatory</p> 
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Total Amount <span style="color: red;">*</span> : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="total_amount" id="total_amount" required=""  placeholder="Total Amount" ng-model="webfront.total_amount_alias" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                                <div ng-show="editWebFrontForm3.$submitted || editWebFrontForm3.total_amount.$touched" style="color:red;">  
                                                    <p ng-show="webFrontForm.total_amount.$error.required"><font color="red">&nbsp;&nbsp;Total Amount is required!</font></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa1"> PA1 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa1" id="pa1" required=""  placeholder="PA1" ng-model="payment_fields.pa1" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa1').val('') : ''" ng-checked="payment_fields.pa1" id="pa1_chk" class="ace" value="true" type="checkbox" ng-model="payment_fields.ca_chk[1]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa3"> PA2 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa2" id="pa2" required="" placeholder="PA1" ng-model="payment_fields.pa2" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa2').val('') : ''" ng-checked="payment_fields.pa2" id="pa2_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[2]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa3"> PA3 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa3" id="pa3" required="" placeholder="PA3" ng-model="payment_fields.pa3" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa3').val('') : ''" ng-checked="payment_fields.pa3" id="pa3_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[3]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa4"> PA4 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa4" id="pa4" required="" placeholder="PA4" ng-model="payment_fields.pa4" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa4').val('') : ''" ng-checked="payment_fields.pa4" ng-checked="payment_fields.pa4" id="pa4_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[4]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa5"> PA5 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa5" id="pa5" required="" placeholder="PA5" ng-model="payment_fields.pa5" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa5').val('') : ''" ng-checked="payment_fields.pa5" id="pa5_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[5]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa6"> PA6 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa6" id="pa6" required="" placeholder="PA6" ng-model="payment_fields.pa6" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa6').val('') : ''" ng-checked="payment_fields.pa6" id="pa6_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[6]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa7"> PA7 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa7" id="pa7" required="" placeholder="PA7" ng-model="payment_fields.pa7" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa7').val('') : ''" ng-checked="payment_fields.pa7" id="pa7_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[7]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa8"> PA8 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa8" id="pa8" required="" placeholder="PA8" ng-model="payment_fields.pa8" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa8').val('') : ''" ng-checked="payment_fields.pa8" id="pa8_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[8]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa9"> PA9 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa9" id="pa9" required="" placeholder="PA9" ng-model="payment_fields.pa9" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa9').val('') : ''" ng-checked="payment_fields.pa9" id="pa9_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[9]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="pa10"> PA10 : </label>
                                            <div class="col-sm-9">
                                                <input type="text" name="pa10" id="pa10" required="" placeholder="PA10" ng-model="payment_fields.pa10" class="col-xs-10 col-sm-5 post1" />
                                                &nbsp;&nbsp;
                                                <label>
                                                    <input name="form-field-checkbox" onclick="!$(this).is(':checked') ? $('#pa10').val('') : ''" ng-checked="payment_fields.pa10" id="pa10_chk" class="ace" type="checkbox" ng-model="payment_fields.ca_chk[10]" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-9">                                                 
                                                <a onclick="$('a[href=\'#payee-information\']').click();" class="btn" href="javascript:;"> <i class="ace-icon fa fa-undo bigger-110"></i> Previous </a>
                                                <button class="btn btn-info" ng-click="editPaymentFields()" type="button"><i class="ace-icon fa fa-check bigger-110"></i> Next </button>  &nbsp; &nbsp; &nbsp;
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!--Payment Information End-->

                                <div id="download-excel" class="tab-pane fade">
                                    <div style="text-align: center; padding: 50px;">
                                        <a href="merchant/webfronts/download-sample-excel/{{webfront.id}}" style="font-size: 25px;"><i class="ace-icon fa fa-download bigger-120"></i> Download Sample Excel</a>
                                        <div style="clear: both;">&nbsp;</div>
                                        <br/>
                                        <a href="merchant/#/view-uploads/{{webfront.id}}" style="font-size: 25px; color: green;"><i class="ace-icon fa fa-upload bigger-120"></i> Upload Excel</a>
                                    </div>   
                                </div>

                            </div>

                        </div>
                        <!-- #section:elements.form -->                          
                        <!--<br class="clear"/>-->    
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
