<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #CCC">
    <div class="main-content-inner">  
        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <div class="row">
                <!-- /section:settings.box -->

                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px;">
                        Upload Excel <span style="color: green;">[{{title}}]</span>                                 
                    </h1>                    
                </div>


                <div class="col-xs-12">          

                    <div class="content-main-area" style="padding: 20px;">

                        <form name="myForm" class="form-horizontal" novalidate role="form" ng-submit="myForm.$valid && importExcel(excelFile)">
                            <div id="flash-msg"></div>
                            <div class="row">  

                                <div class="col-xs-6 col-sm-6">
                                    <label for="id-date-picker-1" style="font-weight: bold;">Payment Cycle Date <!--<span style="font-size: 13px;">(Late fee will be applied for payment made after this)</span><span style="color: red;">*</span>--></label>                  
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <input type="text" id="payment_cycle_date" ng-model="payment_cycle_date" name="payment_cycle_date" required="required" class="form-control datepicker" placeholder="Payment Cycle Date" autocomplete="off" />
                                            <div ng-show="myForm.$submitted || myForm.payment_cycle_date.$touched" style="color:red;"> 
                                                <p ng-show="myForm.payment_cycle_date.$error.required">Please enter last payment date.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                 

                                <div class="col-xs-6 col-sm-6">
                                    <label for="fileinput" style="font-weight: bold;">Browse File  &nbsp;<span style="color: red;">*(Excel or CSV Only)</span></label>                  
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <input type="file" id="fileinput" name="excelFile" ngf-select  ng-model="excelFile" class="form-controlXX" required="required" />                                       
                                            <div ng-show="myForm.$submitted || myForm.excelFile.$touched" style="color:red;"> 
                                                <p ng-show="myForm.excelFile.$error.required">Please browse file to upload.</p>                                              
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                            </div>    

                            <div class="space-4"></div>
                            <div class="hr hr-24"></div>  

                            <div class="row">
                                <div class="col-md-offset-3 col-md-9" style="text-align: right;">
                                    <button type="submit" class="btn btn-info">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Import
                                    </button>
                                    <!--
                                    <button ng-disabled="!myForm.$valid" ng-click="importExcel(excelFile)" class="btn btn-info">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Import
                                    </button>
                                    -->
                                    &nbsp; &nbsp; &nbsp;
                                    <a  href="merchant/#/webfront-listing" class="btn">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Back
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                
                
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->