<!-- /section:basics/sidebar -->
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="javascript:;">Home</a>
                </li>
                <li>
                    <a href="javascript:;"> Payments </a>
                </li>
                <li>
                    <a href="merchant/#/view-payment-files"> View Payment Uploads </a>
                </li>
                <li class="active">  Update Excel </li>
            </ul><!-- /.breadcrumb -->     
        </div>
        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <!--<div ng-include="'views/common/change_skin.html'"></div>-->
            <!-- /.ace-settings-container -->
            <!-- /section:settings.box -->
            <div class="page-header">
                <h1>
                    Update Excel   
                </h1>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form action="merchant/payments/importPayments" method="post" class="form-horizontal" ng-submit="ImportCustomer()" enctype="multipart/form-data">
                        <!--<form action="" ng-submit="paymentUpload()" method="post" class="form-horizontal" ng-submit="ImportCustomer()" enctype="multipart/form-data">-->
                        <div class="alert alert-danger" id="error-msg" style="display: none;">
                            <button data-dismiss="alert" class="close" type="button"><i class="ace-icon fa fa-times"></i></button>
                            <p><i class="ace-icon fa fa-ban"></i> Some Error Occured. Please try again.</p>                            
                        </div>
                        <div class="alert alert-success" id="success-msg" style="display: none;">
                            <button data-dismiss="alert" class="close" type="button"><i class="ace-icon fa fa-times"></i></button>
                            <p><i class="ace-icon fa fa-check"></i>&nbsp;Customer Added successfully!!.</p>                            
                        </div>
                        <!-- #section:elements.form -->
                        <div class="row">    

                            <div class="col-xs-6 col-sm-6">
                                <label for="id-date-picker-1">Browse File  &nbsp;<span style="color: red;">*(Excel or CSV Only)</span></label>                  
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="file" id="file"  name="file" required="" />
                                    </div>
                                </div>
                            </div> 


                        </div>                       

                        <div class="space-4"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9" style="text-align: right;">
                                <button class="btn btn-info" type="submit" >
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Update
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="hr hr-24"></div>                             
                    </form>                                
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->