<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #CCC">
    <div class="main-content-inner">   
        <div class="page-content">

            <!--Uploaded File Section Start-->                      
            <div class="row" id="uploaded-file-section">
                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px; display: inline-block;">
                        View Files <span style="color: green;">[{{webfront.title}}]</span>                     
                    </h1>    
                </div>
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="content-main-area" style="padding: 20px;">     

                        <div id="flash-msg" tabindex="99" class="col-xs-12 " style="display: block;"></div>

                        <div class="tabbable col-xs-12 front-creation-tab-design">
                            <div class="row">  

                                <table id="simple-table" class="table  table-bordered table-hover" style="width: 100%; overflow: scroll;">
                                    <thead>
                                        <tr>  
                                            <th style="text-align: center;"> Payment Cycle Date </th>
                                            <!--<th style="text-align: left; width: 20%;"> File </th>-->
                                            <th style="text-align: center;"> Customer Count </th> 
                                            <th style="text-align: center;"> Upload Date </th>
                                            <th style="text-align: center;"> Action </th>                                           
                                        </tr>
                                    </thead>
                                    <tbody ng-init="viewWebfrontFiles()">
                                        <tr ng-repeat="uploaded_payment_file in uploaded_payment_files" id="uploaded-payment-file-{{uploaded_payment_file.id}}">                                        
                                            <td style="text-align: center;"> {{uploaded_payment_file.payment_cycle_date| date}} </td>
                                            <!--<td style="text-align: left;"> {{uploaded_payment_file.file}} </td>-->                                        
                                            <td style="text-align: center;"> {{uploaded_payment_file.upload_count}} </td>
                                            <td style="text-align: center;"> {{uploaded_payment_file.created| date}} </td>
                                            <td style="text-align: center; width: auto;">
                                                <a href="merchant/payments/downloadReport/{{uploaded_payment_file.id}}" data-toggle="tooltip" data-placement="top" title="Invoices List" onmouseover="$(this).tooltip('show')"><span class="label label-info arrowed-in-right arrowed">Invoices List</span></a> 
                                                <a href="merchant/payments/downloadReport/{{uploaded_payment_file.id}}/1" data-toggle="tooltip" data-placement="top" title="Paid Invoices List" onmouseover="$(this).tooltip('show')"><span class="label label-warning arrowed-in-right arrowed">Paid Invoices List</span></a> 
                                                <a href="merchant/payments/downloadReport/{{uploaded_payment_file.id}}/2" data-toggle="tooltip" data-placement="top" title="Unpaid Invoices List" onmouseover="$(this).tooltip('show')"><span class="label label-success arrowed-in">Unpaid Invoices List</span></a> 
                                            </td> 
                                        </tr>   
                                        <tr ng-hide="uploaded_payment_files.length"><td colspan="8" style="text-align:center; color: red;">No File Uploaded Yet </td></tr>
                                    </tbody>
                                </table>            

                            </div><!-- /.row --> 
                        </div>
                        <!-- #section:elements.form -->                          
                        <!--<br class="clear"/>-->    
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!--Uploaded File Section End-->     

        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->



<!-- Append Records Started-->
<div class="modal fadeXX"  role="dialog" style="background: rgba(239, 240, 241, 0.5); display: none;" ng-repeat="uploaded_payment_file in uploaded_payment_files" id="appendRecord{{uploaded_payment_file.id}}" >
    <div class="modal-dialog">    
        <!-- Modal content-->
        <div class="modal-content"> 
            <form enctype="multipart/form-data" method="POST" id="append_records_form{{uploaded_payment_file.id}}" data-uploaded_payment_file_id="{{uploaded_payment_file.id}}" ng-submit="appendRecords($event)">
                <input type="hidden" name="id" value="{{uploaded_payment_file.id}}" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$(this).parents('.modal').hide();">&times;</button>
                    <h3 class="modal-title">Append Records</h3>
                </div>
                <div class="modal-body" style="min-height: 25vh; overflow-y: auto; overflow-x: hidden;">
                    <div id="append_records_success_{{uploaded_payment_file.id}}" tabindex="99" class="col-xs-12 " style="display: none;"><div style="display: block;" class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button><p><i class="ace-icon fa fa-check"></i>&nbsp;Payment details updated successfully!!.</p></div></div>
                    <div id="append_records_error_{{uploaded_payment_file.id}}" tabindex="99" class="col-xs-12 " style="display: none;"><div style="display: block;" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button><p><i class="ace-icon fa fa-check"></i>&nbsp;<span class="msg">Some Error occurred. Please try again!!.</span></p></div></div>
                    <div class="row">  
                        <table align='center' style="width: 100%;" class="edit-uploaded_payment_file">    
                            <tr style="background: #FFF;">
                                <td style="padding: 10px; float: right;"><label> Payment Cycle Date</label></td>
                                <td style="padding: 10px;"> : <label>Nov 28, 2016</label></td>
                            </tr>
                            <tr style="background: #FFF;">
                                <td style="padding: 10px; float: right;"><label> Upload Excel/CSV </label></td>
                                <td style="padding: 10px;"> : <label><input type="file" name="file" required="required" /></label></td>
                            </tr>
                        </table>
                    </div>   
                </div>  
                <div class="modal-footer">               
                    <button type="submit" class="btn btn-success"><i class="ace-icon fa fa-check bigger-110"></i> Submit </button>    
                    <button type="button" class="btn" onclick="$(this).parents('.modal').hide();"> <i class="ace-icon fa fa-undo bigger-110"></i> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Append Records Ended-->


<!-- Reuse Upload Started-->
<div class="modal fadeXX"  role="dialog" style="background: rgba(239, 240, 241, 0.5); display: none;" ng-repeat="uploaded_payment_file in uploaded_payment_files" id="reuseUpload{{uploaded_payment_file.id}}" >
    <div class="modal-dialog">    
        <!-- Modal content-->
        <div class="modal-content"> 
            <form method="POST" id="upload_reuse_{{uploaded_payment_file.id}}" data-uploaded_payment_file-id="{{uploaded_payment_file.id}}" ng-submit="uploadReuse($event)">
                <input type="hidden" name="id" value="{{uploaded_payment_file.id}}" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$(this).parents('.modal').hide();">&times;</button>
                    <h3 class="modal-title">Reuse Upload</h3>
                </div>
                <div class="modal-body" style="min-height: 25vh; overflow-y: auto; overflow-x: hidden;">

                    <div id="reuse_upload_success_{{uploaded_payment_file.id}}" tabindex="99" class="col-xs-12 " style="display: none;"><div style="display: block;" id="success-msg" class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button><p><i class="ace-icon fa fa-check"></i>&nbsp;Copied Successfully!!.</p></div></div>
                    <div id="reuse_upload_error_{{uploaded_payment_file.id}}" tabindex="99" class="col-xs-12 " style="display: none;"></div>

                    <div class="row" style="">  
                        <table align='center' style="width: 100%;" class="edit-uploaded_payment_file">   
                            <tr style="background: #FFF;">
                                <td style="padding: 10px; float: right;"><label> Payment Cycle Date </label></td>
                                <td style="padding: 10px;"> : <label><input type="text" name="payment_cycle_date" value="" placeholder="Please enter payment cycle date" class="form-control datepicker" required="required" style="width: 250px;" /></label></td>
                            </tr>
                            <tr style="background: #FFF;">                                
                                <td colspan="2" style="padding: 10px; text-align: center; color: red; font-weight: bold;"> * Please enter the payment cycle date to reuse this upload. </td>
                            </tr>
                        </table>
                    </div>   
                </div>  
                <div class="modal-footer">               
                    <button type="submit" class="btn btn-success"><i class="ace-icon fa fa-check bigger-110"></i> Reuse </button>    
                    <button type="button" class="btn" onclick="$(this).parents('.modal').hide();"> <i class="ace-icon fa fa-undo bigger-110"></i> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reuse Upload Ended-->