<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #CCC;">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->


        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->

            <div class="row">

                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px;">
                        Change Password                            
                    </h1>                    
                </div>

                <div class="content-main-area">
                    <div class="col-xs-12 ">
                        <!-- PAGE CONTENT BEGINS -->
                        <form name="userForm" class="form-horizontal" novalidate="" role="form" ng-submit=" userForm.$valid && changePassword()">
                            <!-- #section:elements.form -->

                            <div class="alert alert-danger" id="error-msg" style="display: none;">
                                <button data-dismiss="alert" class="close" type="button"><i class="ace-icon fa fa-times"></i></button>
                                <p><i class="ace-icon fa fa-times"></i>&nbsp;&nbsp;<span id="view-err-msg-content"></span></p>                            
                            </div>

                            <div class="alert alert-success" id="success-msg" style="display: none;">
                                <button data-dismiss="alert" class="close" type="button"><i class="ace-icon fa fa-times"></i></button>
                                <p><i class="ace-icon fa fa-check"></i>&nbsp;&nbsp;<span id="view-suc-msg-content"></span></p>                            
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Current Password  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">
                                    <input name="old_password" type="password" required id="form-field-1"  ng-model="old_password" placeholder="Enter Current Password" class="col-xs-10 col-sm-5" />
                                    <div ng-show="userForm.$submitted || userForm.old_password.password1" style="color:red;">  
                                        <p ng-show="userForm.old_password.$error.required"><font color="red"> &nbsp; Current Password is required!</font></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> New Password  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">
                                    <input name="password1" type="password" id="form-field-1" required="" ng-model="password1" ng-minlength="6" placeholder="Enter New Password" class="col-xs-10 col-sm-5" />
                                    <div ng-show="userForm.$submitted || userForm.url.password1" style="color:red;">  
                                        <p ng-show="userForm.password1.$error.required"><font color="red">&nbsp;&nbsp;New password is required!</font></p>
                                        <p ng-show="userForm.password1.$error.minlength"><font color="red"> &nbsp; Password should be minimum of 6 characters!</font></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Retype Password  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">
                                    <input name="password2" type="password" id="form-field-1" required="" ng-minlength="6" ng-pattern="password1" ng-model="password2" placeholder="Confirm New Password" class="col-xs-10 col-sm-5" />
                                    <div ng-show="userForm.$submitted || userForm.url.password1" style="color:red;">  
                                        <!--<p ng-show="userForm.password2.$error.minlength"><font color="red">&nbsp;&nbsp; Retype password should be minimum of 6 characters!</font></p>-->
                                        <p ng-show="userForm.password2.$error.required"><font color="red"> &nbsp; Retype password is required!</font></p>
                                        <p ng-show="userForm.password2.$error.pattern"><font color="red"> &nbsp; Password and retype password does not match!</font></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit" >
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Clear
                                    </button>
                                </div>
                            </div>

                        </form>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>
</div><!-- /.main-content -->

