<!-- /section:basics/sidebar -->
<div class="main-content" style="background: #BBBBBB;">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->    

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            
            <!-- /section:settings.box -->

            <!-- /.page-header -->

            <div class="row">
                <div class="page-header" style="margin-left: 0px;border-bottom: none;">
                    <h1 style="margin-top: 8px; margin-left: 15px;">
                        Edit Merchant                         
                    </h1>                    
                </div>
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="content-main-area" style="padding: 20px;">
                        <form name="merchantForm" class="form-horizontal" novalidate role="form" ng-submit="merchantForm.$valid && editMerchant(picFile, merchant.id)" ng-init="getEditMerchant()">

                            <div class="alert alert-danger" id="error-msg" style="display: none;">
                                <button data-dismiss="alert" class="close" type="button"><i class="ace-icon fa fa-times"></i></button>
                                <p><i class="ace-icon fa fa-times"></i>&nbsp;&nbsp;<span id="err-msg-content"></span></p>                            
                            </div>

                            <div class="alert alert-success" id="success-msg" style="display: none;">
                                <button data-dismiss="alert" class="close" type="button"><i class="ace-icon fa fa-times"></i></button>
                                <p><i class="ace-icon fa fa-check"></i>&nbsp;&nbsp;<span id="suc-msg-content"></span></p>                            
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Name  <span style="color: red;">*</span> :</label>                               
                                <div class="col-sm-9">
                                    <input type="text" name="name" id="name" required=""  placeholder="Name" ng-model="merchant.name" ng-minlength="5" ng-keyup="checkNameAvail(merchant.name)" ng-pattern="/^[a-zA-Z0-9]*$/" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                    <div ng-show="merchantForm.$submitted || merchantForm.name.$touched" style="color:red;">                                                   
                                        <p ng-show="merchantForm.name.$error.required"><font color="red">&nbsp;&nbsp;Name is required!</font></p>
                                        <p ng-show="merchantForm.name.$error.minlength"><font color="red">&nbsp;&nbsp;Name is too short!</font></p>
                                        <p ng-show="merchantForm.name.$error.pattern">&nbsp;&nbsp;Name should not contain whitespace or any special character!</p>
                                    </div>
                                    <span id="name-avail" style="margin-left: 5px;color: green;font-weight: bold; display: none;"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email  <span style="color: red;">*</span> :</label>                             
                                <div class="col-sm-9">
                                    <input type="email" name="email" id="email" required="" placeholder="Email" ng-model="merchant.email" ng-keyup="checkEmailAvail(merchant.email)" class="col-xs-10 col-sm-5" />
                                    <div ng-show="merchantForm.$submitted || merchantForm.email.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.email.$error.required"><font color="red">&nbsp;&nbsp;Email is required!</font></p>
                                        <p ng-show="merchantForm.email.$error.email"><font color="red">&nbsp;&nbsp;Please enter valid Email!</font></p>
                                    </div>
                                    <span id="email-avail" style="margin-left: 5px;color: green;font-weight: bold; display: none;"></span>
                                </div>
                            </div>     

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">  Phone No.  <span style="color: red;">*</span> :</label>                             
                                <div class="col-sm-9">
                                    <input type="text" name="phone" id="phone" required="" placeholder="Phone No." ng-model="merchant.phone" ng-minlength="10" maxlength="15" ng-pattern="/^[0-9]+([,.-][0-9]+)?$/" class="col-xs-10 col-sm-5" />
                                    <div ng-show="merchantForm.$submitted || merchantForm.phone.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.phone.$error.required"><font color="red">&nbsp;&nbsp;Phone number is required!</font></p>
                                        <p ng-show="merchantForm.phone.$error.minlength"><font color="red">&nbsp;&nbsp;Number is too short!</font></p>
                                        <p ng-show="merchantForm.phone.$error.pattern">&nbsp;&nbsp;Invalid phone number!</p>
                                    </div>
                                </div>
                            </div>   
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Address  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">                                           
                                    <textarea name="address" class="col-xs-10 col-sm-5" required="" ng-model="merchant.address" style="padding-left: 5px;" placeholder="Address"></textarea>
                                    <div ng-show="merchantForm.$submitted || merchantForm.address.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.address.$error.required"><font color="red">&nbsp;&nbsp;Address is required!</font></p>
                                    </div>
                                </div>
                            </div>                        
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Description  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">                                           
                                    <textarea name="description" class="col-xs-10 col-sm-5" required="" ng-model="merchant.description" style="padding-left: 5px;" placeholder="Description"></textarea>
                                    <div ng-show="merchantForm.$submitted || merchantForm.description.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.description.$error.required"><font color="red">&nbsp;&nbsp;Description is required!</font></p>
                                    </div>
                                </div>
                            </div>                       
                            <div class="form-group">                            
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Logo : </label>                        
                                <div class="col-sm-9 merchant-logo">        
                                    <img ng-src="files/merchant_logo/{{merchant.logo}}" style="height: 62px; width: 78px;"/><br>
                                    <input type="file" id="logo" ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" class="col-xs-10 col-sm-5" style="padding: 5px 0;" >                                
                                </div>
                            </div>    
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">PayU Id  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">   
                                    <input type="text" name="payuid" id="payuid" required=""  placeholder="PayU Id" ng-model="merchant.payuid" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                    <div ng-show="merchantForm.$submitted || merchantForm.payuid.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.payuid.$error.required"><font color="red">&nbsp;&nbsp;PayU Id is required!</font></p>
                                    </div>
                                </div>
                            </div>                    
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Website  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">
                                    <input type="url" name="website" id="website" required=""  placeholder="Website" ng-model="merchant.website" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                    <div ng-show="merchantForm.$submitted || merchantForm.website.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.website.$error.required"><font color="red">&nbsp;&nbsp;Website  is required!</font></p>                              
                                        <p ng-show="merchantForm.website.$error.url"><font color="red">&nbsp;&nbsp;Please enter valid url!</font></p>                              
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Facebook Url  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">
                                    <input type="url" name="facebook_url" id="facebook_url" required=""  placeholder="Facebook Url" ng-model="merchant.facebook_url" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                    <div ng-show="merchantForm.$submitted || merchantForm.facebook_url.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.facebook_url.$error.required"><font color="red">&nbsp;&nbsp;Facebook Url  is required!</font></p> 
                                        <p ng-show="merchantForm.facebook_url.$error.url"><font color="red">&nbsp;&nbsp;Please enter valid url!</font></p>   
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Twitter Url  <span style="color: red;">*</span> :</label>
                                <div class="col-sm-9">
                                    <input type="url" name="twitter_url" id="twitter_url" required=""  placeholder="Twitter Url" ng-model="merchant.twitter_url" class="col-xs-10 col-sm-5" autocomplete="off"/>
                                    <div ng-show="merchantForm.$submitted || merchantForm.twitter_url.$touched" style="color:red;"> 
                                        <p ng-show="merchantForm.twitter_url.$error.required"><font color="red">&nbsp;&nbsp;Twitter Url  is required!</font></p>  
                                        <p ng-show="merchantForm.twitter_url.$error.url"><font color="red">&nbsp;&nbsp;Please enter valid url!</font></p> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Convenience Fee Amount  <span style="color: red;">*</span> :</label>                             
                                <div class="col-sm-9">
                                    <input type="text" name="convenience_fee_amount" id="convenience_fee_amount" required="" placeholder="Convenience Fee Amount"  ng-pattern="/^[0-9]+([,.][0-9]+)?$/" ng-model="merchant.convenience_fee_amount" class="col-xs-10 col-sm-5" />
                                    <div ng-show="merchantForm.$submitted || merchantForm.convenience_fee_amount.$touched" style="color:red;">                                                    
                                        <p ng-show="merchantForm.convenience_fee_amount.$error.required"><font color="red">&nbsp;&nbsp;Convenience Fee Amount is required!</font></p>                                               
                                        <p ng-show="merchantForm.convenience_fee_amount.$error.pattern">&nbsp;&nbsp;Please enter decimal value only!</p>
                                    </div>
                                </div>
                            </div>                          

                            <div class="clearfix form-actionsXX" style="margin: 15px 0;">
                                <div class="col-md-offset-3 col-md-9"> 
                                    <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i> Update </button>  &nbsp; &nbsp; &nbsp;
                                    <a class="btn" href="branchadmin/#/view-all-merchant" data-onclick="$('a[href=\'branchadmin/#/view-all-merchant\']').click();"> <i class="ace-icon fa fa-undo bigger-110"></i> Back </a>
                                </div>
                            </div>

                        </form>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

